<html>
    <h1> ***********WELCOME***********</h1>
    <head>
        <body>
            <form action="/result " method="POST">
                <h1> Gender Input Data </h1>
                <label>LONG HAIR(YES:1,NO:0)</label><input type="text" name="LongHair"> <br><br>
                <label>FORHEAD WIDTH CM(PLEASE ENTER VALUE IN FLOAT)</label><input type="text" name="ForeheadWidth"> <br><br>
                <label>FORHEAD HEIGHT CM(PLEASE ENTER VALUE IN FLOAT)</label><input type="text" name="ForeheadHeight"> <br><br>
                <label>NOSE WIDE(YES:1,NO:0)</label><input type="text" name="NoseWide"> <br><br>
                <label>LONG LONG(YES:1,NO:0)</label><input type="text" name="NoseLong"> <br><br>
                <label>LIPS THIN(YES:1,NO:0)</label><input type="text" name="LipThin"> <br><br>
                <label>DISTANCE NOSE TO LIP LONG(YES:1,NO:0)</label><input type="text" name="DistanceNoseLip"> <br><br>
                <input type="submit" value="PREDICT">

               











            </form>
            {{prediction}}
            














        </body>















    </head>


























</html>